body {
    padding-top: 70px;
  }
  
  .container {
    margin-top: 50px;
  }

  .logo-text {
    font-size: 14px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
  }
  
  .logo {
    width: 400px;
    height: 400px;
  }
  